html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.header{
  width: 100%;
  border-bottom: .2rem solid rgba(200, 200, 200, 0.664);
  height:94px;
  position:relative;
  padding: 1rem 0 1rem 0;
  text-align: center;
  display:block;
}

.icon{
  float:left;
  vertical-align: middle;
  margin: 5px 20px;
  text-align: left;
}

.title{
  display:inline;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 32px;
  font-weight:bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button{
	border-width: 0px;
  padding: 0 0 0 25px;
	background: #f5f5f500;
	cursor: pointer;
	outline: none; 
}

.menu{
  float:right;
  margin: 5px 30px;
  text-align: right;
}

.box{
  position:relative;
  width:100%;
  margin:0 auto;
  padding: 0;
  display:inline;
  overflow:hidden;
}

.box .left{
  width:40%;
  height:600px;
  background-color:rgba(157, 163, 157, 0.781);
  padding:48px;
  float:left;
  
}

.box .right{
  width:60%;
  height:600px;
  background-color:#f00;
  float:left;
}

.topic{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bolder;
  font-size:400%;
  margin: 0 0 40px 0;
}

.signup{
  border-width: 0px;
  margin: 100px 0 100px 0;
  padding: 20px 30px;
	background: #e21b1be5;
	cursor: pointer;
	outline: none; 
}

.box .left1{
  background-image: url(img/offic.jpg);
  width:50%;
  height:500px;
  background-color:rgba(79, 209, 79, 0.856);
  padding:0px;
  float:left;
  position:relative;
}

.box .right1{
  width:50%;
  height:500px;
  background-color:rgb(41, 151, 194);
  float:left;
}

.office{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position:absolute;
  bottom: 2%;
  font-size:24px;
  margin:0 0 0 48px;
}

.limited{
  font-family:Georgia, 'Times New Roman', Times, serif;
  position:absolute;
  bottom: 9%;
  font-size: 32px;
  font-weight:600;
  margin: 0 0 0 48px;
}

#mainpic{
  vertical-align: middle;
  align-self: center;
  margin:16px;
  padding: 0 25% 0 25%;
  width:auto;
}