html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.header{
  width: 100%;
  border-bottom: .2rem solid rgba(200, 200, 200, 0.664);
  height:94px;
  position:relative;
  padding: 1rem 0 1rem 0;
  text-align: center;
  display:block;
}

.icon{
  float:left;
  vertical-align: middle;
  margin: 5px 20px;
  text-align: left;
}

.title{
  display:inline;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 32px;
  font-weight:bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button{
	border-width: 0px;
  padding: 0 0 0 25px;
	background: #f5f5f500;
	cursor: pointer;
	outline: none; 
}

.menu{
  float:right;
  margin: 5px 30px;
  text-align: right;
}

.library{
  width:100%;
  display:inline-block;
  padding:0;
}

.library .article {
  padding: 32px;
  float: left;
  transition: box-shadow .15s cubic-bezier(.4,0,.2,1);
  margin-left: 0;
  margin-right: 0;
}

.cell{
  list-style:none;
}

.library .grid{
  padding:0;
  align-items: flex-start;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.grid{
  display:grid;
  grid-gap: var(--mdc-layout-grid-gutter,16px);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-align: stretch;
  margin: 0 auto;
  box-sizing: border-box;

}

.image{
  position:relative;
  overflow:hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: 0 0;
  box-sizing: border-box;
  display: block;
}

.o1{
  background:rgba(231, 28, 28, 0.808);
}

.o2{
  background:rgba(133, 28, 231, 0.808);
}

.o3{
  background:rgba(195, 104, 43, 0.808);
}

.o4{
  background:rgba(219, 44, 44, 0.897);
}

.image img{
  /* position: absolute; */
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.content{
  margin-top: 24px;
  text-align: left;
  display:block;
}

.content-headline{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  line-height: 32px;
  color: #424242;
  letter-spacing: .28px;
}

.content-des{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 24px;
  color: #424242;
  margin-top: 16px;
  letter-spacing: 0.00625rem;
}


@media (min-width:840px){
  .image{
    height:30vw;
  }
  .grid {
    grid-template-columns: repeat(12,minmax(0,1fr));    
  }
  .cell{
    width: auto;
    grid-column-end: span 6;
  }
}

@media (min-width: 480px) and (max-width: 839px)
{
  .grid{
    grid-template-columns: repeat(8,minmax(0,1fr));    
  }
  .cell{
    width: auto;
    grid-column-end: span 4;
  }
}

@media (min-width: 240px) and (max-width: 839px)
{
  .image{
    height:40vw;
  }
  .title{
    display:none;
    width:0px;
  }
}