html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
}

.header{
  width: 100%;
  border-bottom: .2rem solid rgba(12, 12, 12, 0.911);
  height:94px;
  position:relative;
  padding: 1rem 0 1rem 0;
  text-align: center;
  display:block;
}

.icon{
  float:left;
  vertical-align: middle;
  margin: 5px 20px;
  text-align: left;
}

.title{
  display:inline;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 32px;
  font-weight:bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-right: 3px solid #000;
}

.nav-items{
  display:inline;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 32px;
  font-weight: normal;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #fff;
}

.nav-items-current{
  background-color: #d3d3d3;
}

.nav-items:hover{
  background-color: #d3d3d3;
}

.nav-items-current:hover{
  background-color: #c0c0c0;
}

.nav-items a, .title a{
  text-decoration: none;
  color:#000;
}

.button{
	border-width: 0px;
  padding: 0 0 0 25px;
	background: #f5f5f500;
	cursor: pointer;
	outline: none; 
}

.menu{
  float:right;
  margin: 5px 30px;
  text-align: right;
}

.toptext{
  display:block;
  margin: 40px 50px;
  font-size: 64px;
  font-weight:600;
  color:black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.image{
  filter:opacity(100%);
  text-align: center;
  padding: 20px 10px;
  margin: -80px auto;
}

.box{
  width:100%;
<<<<<<< HEAD
  height:1300px;
=======
>>>>>>> fff827ad0d9e49e4c2c397ddbaa0cfda280a7b5f
  margin:0 auto;
  padding: 0;
  display:block;
  overflow: hidden;
}

.box .left{
  width:50%;
  padding:2px 48px;
  display:table-cell;
  vertical-align: top;
}

.box .right{
  width:50%;
  padding:180px 100px;
  display:table-cell
}

.right p.lead{
  font-family: sans-serif;
  font-size: 2rem;
  text-align: left;
  font-weight: 400;
  margin: 20px 0;
  display: block;
}

.port{
  text-align: left;
  margin:0 auto;
  /* height:100%; */
  background-color:white;
  box-shadow:6px 6px 30px #9090905e;
  padding: 60px 48px;
}


.input{
  font-family:sans-serif;
  font-size: 2rem;
  text-align: left;
  font-weight: 400;
  margin: 20px 0;
  display:block;
}

.port button{
  display: block;
  margin-top:20px;
}
